{% if request.state.web_analytics %}
  <script id="web-analytics-config" type="application/json">{{ request.state.analytics_config | tojson }}</script>
  <script src="{{ url_for('static', path='analytics.js') }}"></script>
  <script defer src="/_vercel/insights/script.js"></script>
  {% if request.state.cloudflare_beacon.token %}
    <script type="module" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{{ request.state.cloudflare_beacon | tojson }}'></script>
  {% endif %}
{% endif %}
